/* /---------GENERAL---------/ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /---------BG---------/ */
div.wrap-container{
    height: 100vh;
    width: 100%;
    background-color: #dcdbd1;
    position: relative;
}
div.wrap-container div.top-bg{
    background-color: #009688;
    height: 20%;
}
/* /--------MESSAGE COLORS-------/ */
.mess{
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    align-items: flex-end;
    width: 100%;
}

.mess-green{
    background-color: #d5f9ba;
    align-items: flex-end;
    margin-left: auto;
}

.mess-white{
    background-color: white;
    align-items: flex-end;
}

.mess-date{
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 .5rem 0 .2rem;
    color: gray;
}
/* /--------BOX---------/ */
div.container-box{
    width: 80%;
    height: 95%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}
div.container-box header{
    width: 35%;
    height: 100%;
}
div.container-box main{
    width: 65%;
    height: 100%;
}
/* /------HEADER-------/ */
section#user-info{
    width: 100%;
    height: 8%;
    background-color: #eaeaea;
}
div.user-icon i{
    color: #b1b1b1;
}
/* /NOTIFY SECTION/ */
section#notify{
    background-color: #8edafc;
    height: 10%;
}
div.notify-bell{
    height: 50px;
    width: 50px;
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
}
div.notify-info a{
    color: gray;
    border-bottom: 1px solid gray;
}
/* /SEARCH SECTION/ */
section#search{
    padding: .5rem;
    background-color: white;
}
section#search button{
    width: 20%;
}
section#search input{
    width: 80%;
}
section#search button,
section#search input{
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    color: gray;
    padding: .2rem .5rem;
}
/* /-----CONTACTS BOXES SECTION-----/ */
section#contacts{
    height: 77%;
    overflow-y: scroll;
}
div.contact{
    width: 100%;
    height: calc(100% / 6);
    cursor: pointer;
    border-bottom: 2px solid #eaeaea;
}
div.contacts-profile p{
    font-size: .8rem;
    color: grey;
}
.contact-selector-active{
    background-color: #e9ebeb;
    width: 100%;
}

.contact-selector-inactive{
    background-color: #ffffff;
}
/* /---------------MAIN--------------/ */
main{
    background-image: url(../img/mine.jpg);
}

section#user-message{
    width: 100%;
    height: 8%;
    background-color: #eaeaea;
    border-left: 2px solid rgb(211, 211, 211);
}

section#message{
    width: 100%;
    height: 84%;
    padding: 5rem;
    overflow-y: scroll;
}

div.message-box{
    width: 35%;
    position: relative;
    margin-bottom: 2rem;
}

section#user-mex{
    width: 100%;
    height: 8.5%;
    background-color: #f3eeea;
}
/* / DELETE MESSAGE / */
div.open-delete-window{
    display: block;
    cursor: pointer;
}
div.delete-window{
    width: 150px;
    height: 50px;
    background-color: white;
    right: 1rem;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}
div.delete-window:hover{
    background-color: crimson;
}